/*  global style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  /* html font type */
  html {
    font-family: sans-serif;
  }
  
  a {
    color: black;
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    background: #e7e7e7;
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #menu {
    display: flex;
    gap: .5rem;
  }
  
  #menu a {
    display: block;
    padding: .5rem;
  }
  
  #menu a:hover {
      background: rgba(0, 0, 0, .05);
  }
  
  #btn-mobile {
    display: none;
  }
  
  #content {
    width: 100%;
    padding: 2rem;
    color: gray;
    font-weight: 300;
    line-height: 150%;
  }


  /* responsive mobile*/
  @media screen and (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0;
      background: #e7e7e7;
      height: 0;
      visibility: hidden;
  
      overflow-y: hidden;
      transition: .6s;
      z-index: 9999;
    }
  
    #nav.active #menu {
      visibility: visible;
      overflow-y: auto;
      height: calc(100vh - 70px);
    }
  
    #menu a {
      padding: 2rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.65);
      text-align: center;
    }
    
     #btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  
    #hamburguer {
      border-top: 2px solid;
      transition: .3s;
      width: 25px;
    }
  
    #hamburguer::after , #hamburguer::before {
      content: '';
      display: block;
      width: 25px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .3s;
      position: relative;
    }
  
    #nav.active #hamburguer {
      border-top: transparent;
    }
  
    #nav.active #hamburguer::before {
      transform: rotate(135deg);
    }
  
    #nav.active #hamburguer::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }